@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Passcode (passcode # @ViewBag.SessionTimes)</h1>
    <h1>@ViewBag.New</h1>
    <a class="btn btn-success" href="/">Generate</a>
</div>
